:root {
  --basecolor: hsl(0, 0%, 100%);
  --accentcolor: hsl(288, 100%, 85%);
  --opaquebackground: hsla(0, 0%, 100%, 0.8);
  --logo: hsl(175, 71%, 41%);
  --shadow: hsla(0, 0%, 0%, 0.5);
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  max-width: 2000px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  text-transform: uppercase;
  margin: 1rem 1rem 1rem 2rem;
  color: var(--logo);
}

.header__text {
  margin: 1rem 2rem 1rem 1rem;
  text-align: right;
}

.main {
  flex-grow: 2;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem;
}

.board {
  flex-grow: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas:
    "one two"
    "three four";
  justify-items: center;
}
.fig {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.board__caption {
  align-self: flex-end;
  margin-bottom: -1.2rem;
  background-color: var(--opaquebackground);
  padding: 0.5rem;
  text-align: center;
}

.board__figure--one {
  grid-area: one;
}

.board__figure--two {
  grid-area: two;
}

.board__figure--three {
  grid-area: three;
}

.board__figure--four {
  grid-area: four;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
}

.movie__title {
  margin: 1rem;
  height: 8rem;
  width: 12rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.movie__button {
  -webkit-box-shadow: 0 0 10px var(--shadow);
  background-color: var(--accentcolor);
  padding: .5rem;
  border: 0;
  border-radius: 5px;
}
.footer {
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

@media only screen and (orientation: landscape) {
  .board {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "one two three four";
  }
  .movie__title {
    height: 10rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 900px) {
  .board__caption {
    padding: 1.5rem;
  }
}
