body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    width: 100vw;
}

.header{    
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    background-color: cadetblue;
}

.main{
    flex-grow: 2;
    height:60vh;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer{
    flex-grow: 1;
    background-color: brown;
}

.main__section > div{
    display: flex;
    justify-content: space-around;
    height: 35vh;
}

.main__image-one {
    background-color: yellow;
    width: 40vw;
}

.main__image-two {
    background-color: yellowgreen;
    width: 40vw;
}

.main__image-three {
    background-color: red;
    width: 40vw;
}

.main__image-four {
    background-color: blue;
    width: 40vw;
}

